body {
    background-color: #0970a1;
    font-family: 'verdana';
    color: #ffffff;
    margin: 10px;
}

a:link {
    color: #00e0e0;
}

a:hover {
    color: #00ffff;
}

a:visited {
    color: #a0a0c0;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#overlay {
    width: 100%;
    height: 100%;
}

#notifbar {
    position: absolute;
    background-color: #204c62;
    border-radius: 8px;
    max-width: 400px;
    max-height: 200px;
    right: 20px;
    bottom: 20px;
    padding: 8px;
    display: none;
}

#debug {
    font-family: 'Lucida Console';
    font-size: 10pt;
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

#toolbar {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #000000;
}

#console {
    background-color: #0a0a0a;
    color: #ffffff;
    display: none;
}

#bootlogo {
    
}

ul {
    line-height: 200%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

li {
    font-size: 18px;
}

li.normal {
}

li.selected {
    color: #00ffe9;
}

div.panel
{
    background-color: #ffffff;
    color: #000000;
    border-radius:8px;
    padding: 16px;
    line-height:200%;
}
